body {
    background-color: #381460;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

html {
    height: 100%;
}

p {
    margin-top: 10px;
}

button,
input[type=submit] {
    position: relative;
    padding: 5px 20px;
    background-color: #fe346e;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    margin: 10px;
}

button:hover {
    background-color: rgb(48, 48, 55);
    border: #fe346e solid 2px;
    color: #fff;
    cursor: pointer;
}

img {
    margin-top: 5px;
    width: 15%;
}

hr {
    width:100px;
    margin: auto;
    border-top: 10px dotted #fe346e;
    background-color: transparent;
    padding-bottom: 20px;   
}



a {
    color: #fe346e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

a:hover {
    color: #fff;
}

#h2-title {
    font-size:  30px;
    font-weight: bold;
    font-family: "Tsukushi A Round Gothic";
}

 /* bulma card */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-p {
    width: 40%;
    margin: 0 auto;
}

.search{
    margin-left: 10px;
}

#anime-collection {
    margin-top: 10px;
    padding-top: 10px;

}

/* no used yet */
.add-series-form {
    width: 80%
}

/* footing styling */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 3rem;
    color: #fff;
    text-align: center;
    background-color: #fe346e;
    /* Footer height */
}


#footer p {
    padding-top: 10px;
    padding-bottom: 10px;
}
